# Игнорировать все файлы, начинающиеся с .env, в любых директориях
**/.env*

# Исключить .env-dist из игнорирования во всех директориях
!**/.env-dist

**/.certs

**/.idea*

.idea

__pycache__/
minio-data/

